body {
    margin-left: 50px;
    margin-right: 50px;
}
.page-title{
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 1.2rem;
}
.form-container{
    width:40rem;
    margin: auto;
}
#nav-link{
    font-weight:"bold";
}
#login-page{
    margin-top:4rem;
}

@media (max-width: 450px){
    .form-input {
        max-width: 320px;
    }
    #avatar-card {
        margin-left: 1.5rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        grid-column-start: 1;
        grid-column-end: 4;
    }
    #mypost-card {
        margin: 0rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    #postcards {
        margin-right: 0.5rem;
        display: grid;
        grid-template-columns: repeat(1, [col-start] 300% [col-end]);
    }
    #recentposts {
        margin: 0rem;
        display: grid;
        grid-template-columns: repeat(1, [col-start] 140% [col-end]);
    }
}

@media (max-width: 450px){
    .menubar {
        min-width: 320px;
    }
}